name: CI/CD - Release to PyPI

on:
  push: 
    branches: ["main"]
  # pull_request:
  #   branches: ["main"]

permissions:
  contents: read

jobs:
  job1:
    runs-on: ubuntu-latest

    steps:
      - name: give access of your repo to the workflow 
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run test with pytest
        run: pytest